@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-display: auto; */
    /* font-display: swap; */
    /* font-display: fallback; */
    /* font-display: block; */ 
    /* do not use block !!*/
    font-display: optional;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* embeded code should be at the very top */

/* 
Typograhpy
-Styling fonts
-Embedding custom fonts
-Using font services
-Formatting text */


/* Embedding Web Fonts

font files come in different formats like imgs and videos
    TTF
    OTF
    EOT
    WOFF
    WOFF 2.0

    Use WOFF/WOFF 2.0 more compressed and efficient for web

    */


    
    /* Font 
    Serif
    -small line or stroke at the end of characters

    Sans-serif
    -modern

    Monospace

*/
body{
    margin: 10px;
    font-family: "opensans";
}

p{
    font-weight: normal;
    /* font-style: italic; */
    /* font-size: 1rem; */
    color: #111;
}

/*  Flash of Unstyled Text
    font-display: auto;
    font-display: swap;
    font-display: fallback;
    font-display: block;
    font-display: optional;
*/
    /* do not use block !!*/


/* Font Services
    Google Web Fonts
    Adobe Fonts
    fonts.com
    fontdeck.com
    fontsquirrel
*/

/* System Font Stack
    No need to download
    but different OS uses different font
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Sizing Fonts 
    Cannot rely on px due to lack of consistency(Retina Display)

    Relatvie Units
    %
    vw, vh
    em
    rem

    most of people's default fontsize is medium(16px)

    when start new projects
    go to type-scale.com and find the right size for headings
*/

html{
    /* 62.5% of 16px  = 10px */
    font-size: 62.5%;
}

body{
    /* 1 x font size of the root element(html) */
    /* 1.5 x 16px can be tricky thats why we set html{font-size:62.5%;}*/
    font-size: 1.5rem;
}

h1{
    font-size: 2rem;
}

@media screen and (min-width:450px) {
    html{
        font-size: 130%;
    }
}



/* Vertical Spacing

*/

h1,h2,h3,h4,h5,h6{

}
body{
    font-size: 1rem;
    line-height: 1.5;
    /* line-height is usually 1.5rem/ 1.5 
        line-height:1.5;
        without any unit
        browser multiplies values by the font size
    */
}
h1{
    margin: 3rem 0 1rem;
}


/* Horizontal Spacing
    letter-spacing
    word-spacing
    width

    Ideal line length
    should be between 50 ~ 70 characters
*/


body{
    /* letter-spacing: 1px; */
    /* use px instead of rem */
    
    /* word-spacing: 5px; */ 
}

p{
    width: 50ch; 
    /* relative to the width of the zero character */
    /* 50ch == 50 zeros == 60~70 characters*/
}


/* Formatting Text 
    text-align
    text-indent
    text-decoration
    text-transform
    white-space
    column-*
    direction
    etc
*/

p{
    /* text-align: right; */
    /* text-align: justify; */
    /* do not use justify its hard to read */
    /* text-decoration: line-through; */
    /* text-transform: capitalize; */

    /* border: 3px solid gold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* line-clamp: 3; yet experimental, not recommended to use */

    /* column-count: 2;
    column-gap: 2rem;
    column-rule: 3px dotted #999; */

    /* direction: rtl; */
}
html{
    /* direction: rtl; */
}
p + P{
    text-indent: 1rem;
}